.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100vh;
  background-color: #eaeaeb;
  gap: 3rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 33%;
}

.data-table-container {
  margin: 1.125rem 0;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #d8d9db;
}

@media (max-width: 700px) {
  .main {
    gap: 0.75rem;
    height: 100%;
  }
  .main-container {
    height: 100%;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    gap: 2rem;
  }
}
